
@{ Layout = null; }
<style>
    * {
        background-color: orange;
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    div {
        text-align: center;
        font: 100%/1 Arial;
    }

    a {
        color: white !important;
        font: 100%/1 Arial;
        text-decoration: none;
        border-radius: 4px;
    }
</style>
<div class="fail_wrapper">
    <span style='font-size:100px;'>&#128512;</span>
    <h1>Thanh toán thành công</h1>
</div>
<div><a href="/#" class="btn btn-success">Quay về trang chủ</a></div>
